$prefix: layout;

:global(body) {
    margin: 0;
}

.#{$prefix} {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 900px) {
        padding: 0 12%;
    }
    padding: 0 20px;
}
