:global {
    @import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

    @font-face {
        font-family: 'Cascadia Code';
        src: url('/static/fonts/CascadiaCode/CascadiaPL.ttf') format('truetype');
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-Medium.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-Medium-Italic.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-Italic.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-Bold-Italic.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-ExtraBold.ttf')
                format('truetype'),
            url('/static/fonts/JetBrainsMono/ttf/JetBrainsMono-ExtraBold-Italic.ttf')
                format('truetype');
    }

    html {
        font-family: 'Cascadia Code', 'JetBrains Mono', 'Fira Code', monospace;
        color: #6f6f6f;
    }
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modalContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-width: 450px;
    height: 300px;
    font-size: 16px;
}
