$prefix: header;

.#{$prefix} {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 900px) {
        padding: 0 12%;
    }
    padding: 0 20px;

    &Title {
        font-weight: 500;
        font-size: 22px;
    }

    &Avator {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 22px;
        // border-radius: 50%;
        // border: 1px solid #e2e2e2;
        // box-shadow: $ms-depth-shadow-4;
    }
}
