:global {
  @import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

  html {
    font-family: "Fira Code", monospace;
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
