@import '../../styles/link.scss';

$prefix: footer;

.#{$prefix} {
    grid-area: footer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 30px;
}
